/*{
  outline:solid red 1px;
}*/
@font-face{
   font-family:Impregnable_Personal_Use_Only;
   font-style:normal;
   src:url(../fonts/Impregnable_Personal_Use_Only.ttf);
}
#unico{
  margin-top:200px;
  font-family:Impregnable_Personal_Use_Only;
  color:white;
  font-size:100px;
  text-align:center;
}

#titulo{
  color:#c0a495;
  font-family:'Josefin Sans', sans-serif;
  font-size:20px;
  font-weight:bold;
  text-align:center;
  margin-top:30px;
  margin-bottom:40px;
}
.titulo-2{
  font-family:'Josefin Sans', sans-serif;
  font-size:20px;
  text-align:center;
  margin-top:30px;
  margin-bottom:40px;
}
#titulo-3{
  font-family:'Josefin Sans', sans-serif;
  font-size:20px;
  text-align:center;
  margin-top:30px;
  margin-bottom:40px;
}
.fondo{
  width:100%;
  background:url(../images/camino3.jpg);
  background-size:cover;
  opacity:0.9;
}
#menu.active {
  background-color: #120a06;
  opacity:0.9;
  webkit-transform: translateY(0);
-moz-transform: translateY(0);
-ms-transform: translateY(0);
-o-transform: translateY(0);
transform: translateY(0);
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
-webkit-transform: translateZ(0);
}
.navbar-default{
  background:none;
  z-index:9999;
  border:none;
  overflow:hidden;
}
.navbar-default-2{
  background:red;
   border:none;
  overflow:hidden;
  -webkit-transition:height 0.3s;
-moz-transition:height 0.3s;
-ms-transition:height 0.3s;
-o-transition:height 0.3s;
transition:height 0.3s;
}

.fa-heart{
  margin:0 5px;
}
.navbar-brand{
  color:white!important;
}
.navbar-brand:hover{
  color:#FFBF00!important;
}

.navbar-right li a{
  color:white!important;
  z-index:9999;
  
}
.navbar-right li:hover{
 background-color:white;
  opacity:0.9;
}
.navbar-right a:hover{
  color:#FFBF00!important;
}
.perfil{
  width:100%;
  margin:0 auto;
  margin-top:20px;
  margin-bottom:40px;
}
.perfil img{
  width:100%px;
}
.iconos{
  width:230px;
  margin:0 auto;
  margin-top:90px;
  margin-bottom:120px;

}
.icono{
  font-weight:bold;
  color:white;
  font-size:20px!important;
  margin:0 10px;
  border:solid white 1px;
  padding:5px;
  border-radius:20px;
  width:32px;
  text-align:center;
}
.icono:hover{
  color:#FFBF00;
  border:solid #FFBF00 1px;
}
.boton{
  width:120px;
  margin:0 auto;
  margin-top:70px;

  }
 .btn-default{
  background-color:#FFBF00;
  border:solid white 1px;
  transition: .5s ease;
    -moz-transition: .5s ease; /* Firefox */
    -webkit-transition: .5s ease; /* Chrome - Safari */
    -o-transition: .5s ease; /* Opera */
 }
 .btn-default:hover{  
  color:#FFBF00;
  background-color:white;
  transform : scale(1.2);
    -moz-transform : scale(1.2); /* Firefox */
    -webkit-transform : scale(1.2); /* Chrome - Safari */
    -o-transform : scale(1.2); /* Opera */
    -ms-transform : scale(1.2); /* IE9 */
 }
.logotipo{
  width:160px;
  margin:0 auto;
  margin-bottom:30px;
}
.linea , .estrella{
  display:inline-block;
}
.linea{
  width:60px;
  height:2px;
  background:white;
  margin-bottom:5px;
}
.estrella{
  color:white;
  margin:0 5px 0 5px;
}
h3{
  margin:50px 0 30px 0;
  text-align:center;
  color:white;
  padding-top:10px;
  font-family:Lobster;
  font-size:35px;
}
h4{
  color:white;
  font-family:Lobster;
  text-align: center;
}
.enlace{
  background:#FFBF00;
  width:50px;
  padding:5px;
  margin:0 auto;
  margin-top:20px!important;
}
.img-foto{
  width:800px!important;
  margin-bottom:40px;
  -webkit-box-shadow: 7px 9px 3px 0px rgba(0,0,0,0.34);
-moz-box-shadow: 7px 9px 3px 0px rgba(0,0,0,0.34);
box-shadow: 7px 9px 3px 0px rgba(0,0,0,0.34);
Copiar texto
}
.blanco{
  background:white;
}
/*sobremi*/
.fondo-melon{
  background:#F3E2A9;
}
p{
  color:white;
  font-family:'Josefin Sans', sans-serif;
  font-size:18px;
}
.brown{
  color:#8b502e;
}
.brown-1{
  background:#8b502e;
}
/*habilidades*/
.ion-social-html5-outline,.fa-bold,.ion-social-css3-outline,.ion-social-github,.ion-social-javascript-outline,.ion-android-phone-portrait,.ion-android-phone-portrait,.ion-social-octocat,.ion-android-bulb,.ion-android-contacts{
  font-size:75px;
  color:white;
  text-align:center;
}
.cafe-habilidades{
  background:#efbe66;
}
.cafe{
  background:url(../images/textura3.png);
}
.img-fortafolio{
  width:100%;
  height:200px;
  margin-bottom:20px;
}
.cafe-contacto{
  background:url(../images/campo1.jpg);
  background-size:cover;
}
.img-fortafolio:hover{
  background:#FFBF00;
  opacity:0.6;
}
.footer{
  background:#120a06;
 }
.footer p{
  text-align:center;
  margin:20px 0;
  font-size:12px;
}
.especial{
  height:50px;
}
.portafolio{
    position:relative;
    width:100%;
    height:200px;
    overflow:hidden;
    /*float:left;*/
    list-style:none;  
}
.portafolio figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
    margin-left:-50px
}
.portafolio figure img {
    display:block;
    position:relative;
    z-index:10;
   margin:-15px 0
}
.portafolio figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.portafolio figure h2 {
    font-family:Lobster;
    color:#fff;
    font-size:20px;
    text-align:center;
}
.portafolio figure p {
    display:block;
    font-family:'Josefin Sans', sans-serif;
    font-size:15px;
    line-height:18px;
    margin:0;
    color:#fff;
    text-align:center;
}
.portafolio figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:29px 44px;
    /*background-color:rgba(26,76,110,0.5);#c0a495;*/

    background-color:#6d4023;
    text-align:center;
    backface-visibility:visible;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .7s;
    -moz-transition:all .7s;
    transition:all .7s
}
.portafolio figure img {
    backface-visibility:hidden;
    -webkit-transition:all .7s;
    -moz-transition:all .7s;
    transition:all .7s
}
.portafolio figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.portafolio figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}
.portafolio figcaption a:hover{
  text-decoration:none;
}
.contactame-caja{
  width:190px;
  margin:0 auto;
  margin-top:80px;
  margin-bottom:50px;
}
.contactame{
  color:#8b502e;
  padding:10px 12px;
  border:solid #8b502e 2px;
  border-radius:100%;
  font-size:30px;
  text-align:center;
  margin-left:5px;
}
.contactame:hover{
  color:#efbe66;
  border:solid #8b502e 2px;
  background-color:#8b502e;
}

.ch-grid {
  margin: 20px 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
  overflow:hidden;
}

.ch-grid:after,
.ch-item:before {
  content: '';
    display: table;
}

.ch-grid:after {
  clear: both;
}

.ch-grid li {
  width: 180px;
  height: 180px;
  display: inline-block;
  margin: 20px;
  border:solid 5px white;
}
.ch-item {
  width: 100%;
  height: 100%;
  position: relative;
  cursor:pointer;
  perspective: 900px;
  overflow:hidden;
}
.ch-img-1{
  padding-top:35px;
}
.ch-info{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  overflow:hidden;
}
.ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;  
  background-position: center center;
  transition: all 0.4s linear;
  transform-origin: 50% 0%;
}
.ch-info .ch-info-back {
  transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
  background:#6d4023;
  opacity: 0;
}
/*.ch-img-1 { 
  background-image: url(../images/kitten.jpg);
}*/

.ch-info h3 {
  color: #fff;
  letter-spacing: 2px;
  font-size:19px;
  margin: 0 15px;
  padding: 40px 0 0 0;
  height: 80px;
  font-family:Lobster;
  /*text-shadow: 
    0 0 1px #fff, 
    0 1px 2px rgba(0,0,0,0.3);*/
}

.ch-info p {
  color: #fff;
  padding: 10px 5px;
  margin: 0 20px;
  font-size: 15px;
  border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-item:hover .ch-info-front {
  transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  opacity: 0;
}
.ch-item:hover .ch-info-back {
  transform: rotate3d(1,0,0,0deg);
  opacity: 1;
}
li.active a
{
color:#8b502e!important;
}

@media screen and (max-width:700px) {
  #titulo-3{
    color:white;
    font-weight:normal;
  }
  #unico{
    margin-top:100px;
    font-size:80px;
  }
  .boton{
    margin-top:40px;
  }
  .iconos{
    margin-top:60px;
  }
}