body{
 color:#555555;
 font-family:Arial,sans-serif;
 font-size:13px;
}
h1,h2,h3,h4{
	color:#A9268D;
	font-family:"Oswald",Arial,sans-serif;
	}
.list-nav{
	text-decoration: none;
	text-align:center;

}
.list-nav li{
	display:inline-block;
}
.list-nav a{
	display:block;
	padding:5px 20px;
	color:#555555;
	font-size:15px;
	font-family:"Oswald",Arial,sans-serif;
	text-decoration:none;
	transition:all 0.5s;
}
.list-nav a:hover{
 text-decoration:none;
 background:#ECECEC;
 transform:scale(1.2);
}
.header-content{
	background:url(../images/cerezo.jpg)center center;
	color:#FFF;
	text-align:center;
	padding:50px 0;
}
.header-content h1{
	color:#FFF;
}
.about-me .biografia img{
	float:left;
	width:200px;
	margin-right:15px;
	border:1px solid #555;
	padding:5px;
}
h3{
	text-align:center;
	margin:25px;
}
.about-me{
	background:url(../images/tile1.png);
}
.about-me p{
	text-align:justify;
	margin:25px;
}
.gato{
	width:160px;
	height:160px;
	border-radius:200%;
	margin:20px;
	padding:5px;
	border:1px solid #555;
	margin:25px;
}
.favoritos{
	margin:25px;
}
.container{
	text-align: center;
}
#especial{
	background:url(../images/tile2.png);
}
.redes{
	width:80px;
	height:80px;
	padding:3px;
	border:1px solid #555;
	border-radius:100%;
	margin:25px;

}
.contacto{
	text-align:center;
	background:url(../images/tile2.png);
}
p{
	display:inline-block;
}







