/*{
  outline:solid red 1px;
}*/
@font-face{
   font-family:Impregnable_Personal_Use_Only;
   font-style:normal;
   src:url(../fonts/Impregnable_Personal_Use_Only.ttf);
}
#unico{
  margin-top:200px;
  font-family:Impregnable_Personal_Use_Only;
  color:white;
  font-size:100px;
  text-align:center;
}
#titulo{
  color:white;
  font-family:Arial;
  font-size:20px;
  text-align:center;
  margin-top:30px;
  margin-bottom:40px;
}
.fondo{
  width:100%;
  background:url(../images/camino3.jpg);
  background-size:cover;
  opacity:0.9;
}
.navbar-default{
  background:black;
  opacity:0.6;
  z-index:9999;
  border:none;
}
.fa-heart{
  margin:0 5px;
}
.navbar-brand{
  color:white!important;
}
.navbar-brand:hover{
  color:#FFBF00!important;
}

.navbar-right li a{
  color:white!important;
  z-index:9999;
  
}
.navbar-right li:hover{
   background-color:white;
  opacity:0.9;
}
.navbar-right a:hover{
  color:#FFBF00!important;

}
.iconos{
  width:230px;
  margin:0 auto;
  margin-top:90px;
  margin-bottom:85px;

}
.icono{
  font-weight:bold;
  color:white;
  font-size:20px!important;
  margin:0 10px;
  border:solid white 1px;
  padding:5px;
  border-radius:20px;
  width:32px;
}
.icono:hover{
  color:#FFBF00;
  border:solid #FFBF00 1px;
}
.boton{
  width:120px;
  margin:0 auto;
  margin-top:70px;

  }
 .btn-default{
  opacity:0.8;
  border:solid #994d33 1px;
  transition: .5s ease;
    -moz-transition: .5s ease; /* Firefox */
    -webkit-transition: .5s ease; /* Chrome - Safari */
    -o-transition: .5s ease; /* Opera */
 }
 .btn-default:hover{
  opacity:0.7;
  color:#FFBF00;
  transform : scale(1.2);
    -moz-transform : scale(1.2); /* Firefox */
    -webkit-transform : scale(1.2); /* Chrome - Safari */
    -o-transform : scale(1.2); /* Opera */
    -ms-transform : scale(1.2); /* IE9 */

 }
.logotipo{
  width:160px;
  margin:0 auto;
  margin-bottom:30px;
}
.linea , .estrella{
  display:inline-block;
}
.linea{
  width:60px;
  height:2px;
  background:white;
  margin-bottom:5px;
}
.estrella{
  color:white;
  margin:0 5px 0 5px;
}
h3{
  margin:50px 0 30px 0;
  text-align:center;
  color:white;
}
h4{
  color:white;
}

.img-foto{
  width:800px!important;
  margin-bottom:40px;
  -webkit-box-shadow: 7px 9px 3px 0px rgba(0,0,0,0.34);
-moz-box-shadow: 7px 9px 3px 0px rgba(0,0,0,0.34);
box-shadow: 7px 9px 3px 0px rgba(0,0,0,0.34);
Copiar texto
}
.blanco{
  background:white;
}
/*sobremi*/
.fondo-melon{
  background:#8b502e;
}
.progress{
  background:#8b502e;
}
p{
  color:white;
}
.cafe{
  background:#905b3c;
}
.img-fortafolio{
  width:100%;
  height:200px;
  margin-bottom:20px;
}
.cafe-contacto{
  background:#9d7e61;

}
.img-fortafolio:hover{
  background:#FFBF00;
  opacity:0.6;
}
.input-group{
  width:80%;
  margin:0 auto;
  margin-bottom:20px;
  opacity:0.7;
}
.mensaje-input{
  padding-bottom:100px;
  padding-top:20px;
}
.btn-enviar{
  margin-left:75px;
  margin-bottom:100px;
  }
.footer{
  background:#120d09;
 }
.footer p{
  text-align:center;
  margin:20px 0;
  font-size:11px;
}
.especial{
  height:50px;
}
